In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tup = tuple('string')

In [6]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
tup = tuple(['foo', [1, 2], True])

In [9]:
tup

('foo', [1, 2], True)

In [10]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
tup = ('foo', 'bar')

In [14]:
tup

('foo', 'bar')

In [15]:
tup * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [17]:
# Unpacking tuple
tup = (4, 5, 6)
a, b, c = tup

In [18]:
b

5

In [19]:
values = 1, 2, 3, 4, 5

In [20]:
a, b, *_ = values

In [21]:
a

1

In [22]:
b

2

In [23]:
a = (1, 2, 3, 3, 3, 2, 4)

In [24]:
a.count(2)

2

In [25]:
a_list = [2, 3, 7, None]

In [26]:
tup = ('foo', 'bar', 'baz')

In [27]:
b_list = tuple(tup)

In [28]:
b_list

('foo', 'bar', 'baz')

In [29]:
b_list = list(tup)

In [30]:
b_list

['foo', 'bar', 'baz']

In [31]:
b_list[1] = 'peekaboo'

In [32]:
b_list

['foo', 'peekaboo', 'baz']

In [33]:
gen = range(10)

In [34]:
gen

range(0, 10)

In [35]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
b_list.append('dwarf')

In [37]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [38]:
b_list.insert(1, 'red')

In [39]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [40]:
b_list.pop(2)

'peekaboo'

In [41]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [42]:
b_list.append('foo')

In [43]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [44]:
b_list.remove('foo')

In [45]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [46]:
'dwarf' in b_list

True

In [47]:
'dwarf' not in b_list

False

In [48]:
import bisect

In [49]:
c = [1, 2, 2, 2, 3, 4, 7]

In [50]:
bisect.bisect(c, 2)

4

In [51]:
bisect.bisect(c, 5)

6

In [52]:
bisect.insort(c, 6)

In [53]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [55]:
bisect.insort(c,100)

In [56]:
c

[1, 2, 2, 2, 3, 4, 6, 7, 100]

In [58]:
# Enumerate
some_list = ['foo', 'bar', 'baz']

In [59]:
mapping = {}

In [61]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [62]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [63]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [64]:
seq1 = ['foo', 'bar', 'baz']

In [65]:
seq2 = ['one', 'two', 'three']

In [66]:
zipped = zip(seq1, seq2)

In [67]:
zipped

In [68]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]